$navbar-default-brand-color: black;
$navbar-default-bg: #cee3f8;
$navbar-default-link-color: #369;
$navbar-default-link-hover-color: #369;

@import "bootstrap-sprockets";
@import "bootstrap";

.sidebar {
  display: block;

  .input-group {
    margin-bottom: 5px;
  }

  .title {
    margin-top: 10px;
    margin-bottom: 0px;
    text-transform: uppercase;
    color: grey;
    font-size: 1em;
  }

  .box {
    padding: 5px;
    border: solid 1px grey;
    font-size: .8em;


    ul {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    li {
      list-style: none;
      list-style-type: none;
      margin: 0;
    }
  }
}

.links {
  font-size: .8em;
}

.navbar {
  .logo {
    margin-top: 3px;
    margin-right: 10px;
  }
}

.contents {
  ul {
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    list-style-type: none;
  }

  li:first-child {
    padding-left: 0px;
  }

  p {
    margin-bottom: 1px;
  }

  .title {
    font-size: 1.2em;
  }

  .details {
    font-size: .8em;
  }
}

.posts {
  .post {
    margin: 0 0 15px 0;

    .content {
      margin: 4px 0 4px 0;
      border: 1px solid #369;
      background-color: #fafafa;
      border-radius: 7px; // need to work all browsers
      padding: 5px;
    }
  }
}

.comments {
  .comment {
    margin: 15px 0 15px 0;
  }
}

.navbar-custom {
  margin-bottom: 7px;
}

.main {
  margin: 0 5px 0 5px;
}

.title {
  font-size: 1.3em;
}

.nested_comments {
  margin-left: 50px;
}

.in-page {
  padding: 5px;
}
